* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 290px;
    background-color: #b3b492;
    color: #384d48;
    font-family: Arial, Helvetica, monospace;
    line-height: 1.5;
}

nav {
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: lavender;
}

nav ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0;
}

nav li {
    color: black;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

header {
    color: #2f004f;
    margin: 2px;
    text-align: left;
    font-size: 25px;
}

#navbar header{
    text-align: center;
    margin: 10px;
}

.main-section {
    display: flex;
    flex-direction: column;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color:#6f686d;
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section {
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid #2f004f;
}

.sect-lists li {
    margin-left: 50px;
}

p {
    margin: 10px;
    padding: 5px;
}

code {
    margin-left: -20px;
    width: 75%;
    padding: 5px;
    min-width: 230px;
}

@media only screen and (max-width: 815px) {
    /* Mobile use */
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        background-color: #b3b492;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }
}
