* {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 290px;
    background-color: #b3b492;
    color: #384d48;
    font-family: Arial, Helvetica, monospace;
    line-height: 1.5;
}

nav {
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: lavender;
}

nav ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0;
}

nav li {
    color: black;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

header {
    color: #2f004f;
    margin: 2px;
    text-align: left;
    font-size: 25px;
}

#nav-bar header{
    text-align: center;
    margin: 10px;
}

.main-section {
    display: flex;
    flex-direction: column;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color:#6f686d;
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section {
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid #2f004f;
}

.sect-lists li {
    margin-left: 50px;
}

p {
    margin: 10px;
    padding: 5px;
}
